body {
    margin: 0;
    padding: 0;
    background-color: rgb(133, 218, 233);
    color: rgb(7, 4, 4);
    font: normal 11px Helvetica;
}

header#cabecalho {
    background-color: rgb(85, 187, 207);
    font: bold 20px Helvetica;
    text-align: center;
    line-height: 2.5em;

    height: 50px;

}

h1#cmon {
    margin: 15px;
    font: normal 20px;
    text-align: center;
}

#generalText {
    margin: 15px;
    font: normal 15px Helvetica;
}

#resultado {
    margin: 15px;
    font: normal 15px Helvetica;
}

input#inputName {
    margin: 15px;
    border-radius: 3px;
    border-color: rgb(102, 245, 197);
}


div#button {
    background: rgba(99, 206, 108, 0.884);
    width: 100px;
    height: 20px;
    line-height: 20px;

    margin: 15px;

    text-align: center;
    border-radius: 5px;

    cursor: pointer;
}